<h1>Welcome to the game</h1>

<div class="gameBoard">
  <table>
    <tbody>
      <% 8.times do |row| %>
        <tr>
          <% 8.times do |col|%>

            <% piece = @game.pieces. 
              where(
              x_pos: row, 
              y_pos: col 
              ).first %>

            <% if (row+col) % 2 == 0 %>
              <td class="whiteSquare">
                <% if piece.present? %>
                  <%= [piece.color ? 'White' : 'Black', piece.type, piece.game_id] %>
                  <%= link_to 'Piece', game_path(piece.game_id) %>
                <% end %>
                <% if @piece.present? && @piece == piece %>
                <% end %>
              </td>

            <% else %>
              <td class="blackSquare">
                <% if piece.present? %>
                  <%= [piece.color ? 'White' : 'Black', piece.type.game_id] %>
                  <%= link_to 'Piece', game_path(piece.game_id) %>
                <% end %>
                <% if @piece.present? && @piece == piece %>
                <% end %>
              </td>
            <% end %>        
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>