@import "bootstrap";

.gameBoard {
  padding: 20px;
  margin: 0px auto;
}

.whiteSquare {
  background-color: #F0D9B5;
  height: 50px;
  width: 50px;
}

.blackSquare {
  background-color: #B58863;
  height: 50px;
  width: 50px;
}

.booyah-box {
	margin: 2%;
}

td[id^='piece_'] {
  text-align: center;
  font-size: 32px;
  background-size: 32px !important;
}

td[id$='occupied'] {
  text-align: center;
  font-size: 32px;
  background-size: 32px !important;
}

#piece_Pawn {
  font-size: 32px !important;
  vertical-align: middle;
  font-size: 20px;
}

td p {
  margin: 0 0 0 0;
}

p[id$='white'] {
  color: white;
}
