@import "bootstrap";

.gameBoard {
  padding: 20px;
  margin: 0px auto;

}

.whiteSquare {
  background-color: #F0D9B5;
  height: 50px;
  width: 50px;
  border-style: solid;
}

.blackSquare {
  background-color: #B58863;
  height: 50px;
  width: 50px;
  border-style: solid;
}

.booyah-box {
	margin: 2%;
}

td[id^='piece_'] {
  text-align: center;
  font-size: 20px;
}

#piece_Pawn {
  font-size: 12px !important;
}

